{% extends 'header.html' %}
{%  load static %}
{% block content %}

    <body style="background-image: url('{% static 'img/collage.jpg' %}'); background-size:cover background-position: center;">
        <div style= "background-color: rgb(255 255 255 / 78%); color:#000000">
            {% if request.user.is_authenticated %}
            <h2 class="text-center">Bienvenido {{ user.username | upper }}!</h2>
            {% else %}
            <h2 class="text-center">Bienvenido!</h2>
            {% endif %}
            <p  class="text-center">
                Mirá las imágenes desde <a style="color: black" href="{% url 'home' %}">este link.</a>
            </p>
        </div>
    </body>
{% endblock %}
